[Unit]
Description=Sysbox Manager
##Documentation=https://docs.docker.com
BindsTo=containerd.service
After=network-online.target firewalld.service containerd.service
Wants=network-online.target
##Requires=docker.socket

# TODO:
# Increase default inotify resources to meet sys container's demands.
#sysctl -w fs.inotify.max_queued_events=1048576
#sysctl -w fs.inotify.max_user_watches=1048576
#sysctl -w fs.inotify.max_user_instances=1048576

# Increase default keyring resources to meet sys container demands.
# For a k8s cluster:
# keys = 35 + (workers * 23) + (2 * pods)
#sysctl -w kernel.keys.maxkeys=20000

[Service]
#Type=notify
Type=simple
# see https://github.com/envoyproxy/envoy/issues/8297
ExecStart=sh -c '/usr/local/sbin/sysbox-mgr | tee'
## --log /dev/stdout
##> /var/log/sysbox-mgr.log
##RemainAfterExit=true
ExecStop=/bin/kill $MAINPID

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sysbox-mgr
#ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
RestartSec=2
Restart=always

# Note that StartLimit* options were moved from "Service" to "Unit" in systemd 229.
# Both the old, and new location are accepted by systemd 229 and up, so using the old location
# to make them work for either version of systemd.
StartLimitBurst=3

# Note that StartLimitInterval was renamed to StartLimitIntervalSec in systemd 230.
# Both the old, and new name are accepted by systemd 230 and up, so using the old name to make
# this option work for either version of systemd.
StartLimitInterval=60s

# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
#LimitNOFILE=infinity
#LimitNPROC=infinity
#LimitCORE=infinity

# Comment TasksMax if your systemd version does not support it.
# Only systemd 226 and above support this option.
#TasksMax=infinity

# set delegate yes so that systemd does not reset the cgroups of docker containers
#Delegate=yes

# kill only the docker process, not all processes in the cgroup
#KillMode=process

[Install]
WantedBy=multi-user.target
